#endereço{
    box-sizing: border-box;
    border-width: 2px; border-style: solid; border-color: black; margin: 5px 10px;
}

body{
    background-image: linear-gradient(to right, rgb(6, 75, 107) 40%, rgba(4, 73, 114, 0.972) 100%);
    font-weight: bold;
}

label, select, legend, button{
    color: rgb(6, 1, 15);
}